@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";

    var book = (Article)ViewData["articlepassed"];
}
<h1>@ViewData["Title"]</h1>

<h4>The Guardipendent does not collect any user data what so ever</h4>
<h4>All content is satirical</h4>





